/* Start Generic Styles
========================*/
@font-face {
  font-family: 'Mf-YB';
  src: url("../fonts/Mf-YB.ttf");
  font-weight: bold;
  font-style: normal; }
body {
  background-color: #f7f7f7; }

.page-wrapper {
  padding-top: 40px; }

.button {
  background-color: #E91E63;
  font-family: 'open sans';
  text-transform: uppercase;
  font-weight: bold; }

/* End Post
========================*/
/* Start Header
========================*/
.header {
  background-color: white;
  padding: 0px;
  -webkit-box-shadow: 0 5px 4px -4px rgba(190, 190, 190, 0.1);
  -moz-box-shadow: 0 5px 4px -4px rgba(190, 190, 190, 0.1);
  box-shadow: 0 5px 4px -4px rgba(190, 190, 190, 0.1);
  -webkit-backface-visibility: hidden;
  width: 100%;
  position: fixed;
  z-index: 1; }
  .header .menu {
    background-color: white; }
    .header .menu > li > a {
      font-family: "open sans";
      color: #777;
      font-size: 15px;
      transition: all 0.2s ease-in;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-size: 12px;
      padding: .85rem 1rem; }
    .header .menu > li:hover > a, .header .menu > li.active > a {
      color: #E91E63;
      background-color: transparent; }
  .header .button {
    margin-bottom: 0;
    background-color: #E91E63;
    position: relative;
    outline: none; }
  .header .search-form {
    position: absolute;
    right: 0;
    top: 39px;
    display: none;
    outline: none; }
    .header .search-form input {
      width: 200px;
      margin-right: 0;
      outline: none; }

/* End Header
========================*/
/* Start Blog Info
========================*/
.blog-title {
  padding: 1rem; }
  .blog-title a {
    color: black; }
    .blog-title a h1 {
      font-family: 'Mf-YB';
      margin: 0; }

/* End Blog Info
========================*/
/* Start Homepage Slider
========================*/
.homepage__slider--wrapper {
  position: relative;
  padding-bottom: 20px; }
  .homepage__slider--wrapper .homepage__slider img {
    width: 100%; }
  .homepage__slider--wrapper .homepage__slider--arrow-left, .homepage__slider--wrapper .homepage__slider--arrow-right {
    position: absolute;
    top: 45%;
    padding: 5px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 1;
    text-align: center;
    transition: all 0.2s ease-in-out; }
  .homepage__slider--wrapper .homepage__slider--arrow-left:hover, .homepage__slider--wrapper .homepage__slider--arrow-right:hover {
    background: rgba(211, 211, 211, 0.5); }
  .homepage__slider--wrapper .homepage__slider--arrow-left {
    left: 10px; }
  .homepage__slider--wrapper .homepage__slider--arrow-right {
    right: 10px; }
  .homepage__slider--wrapper .homepage__slider--arrow-left i, .homepage__slider--wrapper .homepage__slider--arrow-right i {
    font-size: 40px;
    line-height: 40px;
    z-index: 1;
    color: #333; }

/* End Homepage Slider
========================*/
/* Start Post
========================*/
.post .post__info {
  background-color: white;
  -webkit-box-shadow: 0 5px 4px -4px rgba(190, 190, 190, 0.1);
  -moz-box-shadow: 0 5px 4px -4px rgba(190, 190, 190, 0.1);
  box-shadow: 0 5px 4px -4px rgba(190, 190, 190, 0.1);
  -webkit-backface-visibility: hidden;
  margin-bottom: 20px; }
  .post .post__info .post__category {
    padding-top: 15px; }
    .post .post__info .post__category a {
      font-family: Georgia, Times, "Times New Roman", serif;
      color: #E91E63;
      text-transform: lowercase;
      font-size: 20px; }
  .post .post__info .post__title {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-weight: bold;
    text-transform: uppercase; }
  .post .post__info .post__content {
    font-family: "Times New Roman", Times, serif; }
    .post .post__info .post__content iframe {
      width: 100% !important;
      height: 400px !important; }
    .post .post__info .post__content b, .post .post__info .post__content a, .post .post__info .post__content strong {
      color: #E91E63; }
  .post .post__info .post__button {
    font-family: "open sans";
    font-size: 12px;
    font-weight: bold;
    background-color: white;
    border-color: #E91E63;
    color: #E91E63;
    text-transform: uppercase; }
.post .post__content .button:hover {
  background-color: white;
  font-family: 'open sans';
  border: 1px solid #E91E63;
  color: #E91E63;
  text-transform: uppercase;
  font-weight: bold; }
.post .post__info .post__button:hover {
  background-color: #E91E63;
  color: white; }
.post .post__info .post__date {
  font-style: italic;
  color: #a5a5a5; }
.post .post__info .post__social-links > li {
  display: inline-block;
  padding: 0 1px; }
  .post .post__info .post__social-links > li a {
    margin-bottom: 0;
    border-radius: 50%;
    background-color: white;
    border-color: #E91E63;
    color: #E91E63; }
  .post .post__info .post__social-links > li:hover a {
    background-color: #E91E63;
    color: white; }

.no-post {
  font-weight: bold;
  font-size: 20px;
  color: #777;
  text-align: center;
  padding: 50px 0; }

.comments {
  padding-top: 30px; }

.icon-circle {
  position: relative;
  display: inline-block;
  margin: -1px;
  /* padding: 16px; */
  width: 30px;
  height: 30px;
  font-size: 17px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #ebebeb;
  background: #00a1e1;
  color: #fff;
  text-align: center;
  vertical-align: middle; }

/* End Post
========================*/
/* Start Pagination
========================*/
.pagination__previous a, .pagination__next a {
  font-family: "open sans";
  font-size: 12px;
  font-weight: bold;
  background-color: white;
  border-color: #E91E63;
  color: #E91E63;
  text-transform: uppercase; }

.pagination__previous a:hover, .pagination__next a:hover {
  background-color: #E91E63;
  color: white; }

/* End Pagination
========================*/
